<launch>
  <let name="use_sim" value="true"/>
  
  <node pkg="lego_loam_bor" exec="mcl_feature" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization.yaml" />
    <remap from="/lslidar_point_cloud" to="/velodyne_points"/>
    <remap from="/odom" to="/odom"/>
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>

  <node pkg="dddmr_pg_map_server" exec="dddmr_pg_map_server_node" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization.yaml" />
  </node>

  <node pkg="mcl_3dl" exec="mcl_3dl" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization.yaml" />
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>
  
  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="global_planner" exec="global_planner_node" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization.yaml" />
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>

  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="p2p_move_base" exec="p2p_move_base_node" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/go2_localization.yaml" />
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>

  <node pkg="p2p_move_base" exec="clicked2goal.py" output="screen" respawn="false">
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>
  

  <node pkg="rviz2" exec="rviz2" output="screen" respawn="false" args="-d $(find-pkg-share p2p_move_base)/rviz/p2p_move_base_localization.rviz">
    <param name="use_sim_time" value="$(var use_sim)"/>
  </node>

</launch>
