<launch>
  
  <node pkg="lego_loam_bor" exec="mcl_feature" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/p2p_move_base_localization.yaml" />
    <remap from="/lslidar_point_cloud" to="/lslidar_point_cloud"/>
    <remap from="/odom" to="/odom"/>
  </node>

  <!--- TF -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="sensor2baselink"  args="0.3 0 0.38 -3.1415926535 0.0 0 base_link laser_link" />

  <node pkg="dddmr_pg_map_server" exec="dddmr_pg_map_server_node" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/p2p_move_base_localization.yaml" />
  </node>

  <node pkg="mcl_3dl" exec="mcl_3dl" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/p2p_move_base_localization.yaml" />
  </node>
  
  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="global_planner" exec="global_planner_node" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/p2p_move_base_localization.yaml" />
  </node>

  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="p2p_move_base" exec="p2p_move_base_node" output="screen" respawn="false">
    <param from="$(find-pkg-share p2p_move_base)/config/p2p_move_base_localization.yaml" />
  </node>
  <node pkg="p2p_move_base" exec="clicked2goal.py" output="screen" respawn="false"/>
  

  <let name="rviz_config" value="$(find-pkg-share p2p_move_base)/rviz/p2p_move_base_localization.rviz"/>
  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(var rviz_config)"/>

</launch>
