<launch>
  
  <!--- mcl_feature -->
  <node pkg="lego_loam_bor" exec="mcl_feature" output="screen" respawn="false">
    <param from="$(find-pkg-share dddmr_beginner_guide)/config/airy_tilt45_navigation.yaml" />
    <remap from="/lslidar_point_cloud" to="/airy_points"/>
    <remap from="/odom" to="/odom"/>
  </node>

  <!--- TF -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="baselink2footprint"  args="0.0 0 -0.24 0.0 0.0 0 base_link base_footprint" />
  <node pkg="tf2_ros" exec="static_transform_publisher" name="baselink2c16"  args="0.2 0 0.22 0.0 0.78539815 0 base_link airy" />

  <!--- mcl -->
  <node pkg="mcl_3dl" exec="mcl_3dl" output="screen" respawn="false">
    <param from="$(find-pkg-share dddmr_beginner_guide)/config/airy_tilt45_navigation.yaml" />
  </node>
  
  <!--- global_planner -->
  <node pkg="global_planner" exec="global_planner_node" output="screen" respawn="false">
    <param from="$(find-pkg-share dddmr_beginner_guide)/config/airy_tilt45_navigation.yaml" />
  </node>

  <!--- p2p_move_base -->
  <node pkg="p2p_move_base" exec="p2p_move_base_node" output="screen" respawn="false">
    <param from="$(find-pkg-share dddmr_beginner_guide)/config/airy_tilt45_navigation.yaml" />
  </node>

  <!--- goal sender -->
  <node pkg="p2p_move_base" exec="clicked2goal.py" output="screen" respawn="false"/>
  
  <!--- Rviz -->
  <let name="rviz_config" value="$(find-pkg-share dddmr_beginner_guide)/rviz/airy_tilt45_navigation.rviz"/>
  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(var rviz_config)"/>

</launch>
