<launch>
  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="lego_loam_bor" exec="mcl_feature" output="screen" respawn="false">
    <param from="$(find-pkg-share lego_loam_bor)/config/mcl_c16_config.yaml" />
  </node>

  <!--- TF -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="baselink2laserlink" args="0.3 0 0.38 -3.1415926 0 0 base_link laser_link" />

</launch>
