<launch>

  <!--name argument is not required, because it will overwrite all node name in the exec-->
  <node pkg="lego_loam_bor" exec="optimized_icp_gn_playground_key2target" output="screen" respawn="false">
  </node>

  <node pkg="rviz2" exec="rviz2" output="screen" respawn="false" args="-d $(find-pkg-share lego_loam_bor)/rviz/optimized_icp_gn_playground_key2target.rviz">
  </node>

</launch>
